---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="Rame-Rame | Temukan Tempat Unik di Sragen">
	<Header />
	<main>
		<Hero />
	</main>
</Layout>